{
	admin off
}

:8080 {
	respond /healthz "ok" 200
}

{$APP_DOMAIN} {
	encode zstd gzip

	@api path /api /api/*
	handle @api {
		reverse_proxy api:{$API_PORT:8000}
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
